{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>JBerry | Register</title>
<style>
    
.register{
    
    transform: translateX(30%) translateY(60%);
}

.register input{
    margin: 10px;
}
 
</style>
{% endblock title %}

{% block content %}
<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix">
    <h1> Register Here</h1>
    <form action="" method="post" class="register">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="Enter First Name.." required><br>
        <input type="text" name="last_name" placeholder="Enter Last Name.." required><br>
        <input type="text" name="username" placeholder="Enter Username.." required><br>
        <input type="email" name="email" placeholder="email.." required><br>
        <input type="password" name="password1" placeholder="Password.." required><br>
        <input type="password" name="password2" placeholder="Confirm Password.." required><br><br>
        <input type="submit" value="Register">
    </form>
</div>
<!-- Product Catagories Area End -->
{% endblock content %}